/* line 7, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body,
html {
  height: 100%;
}

/* line 11, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body nav,
html nav {
  position: fixed;
  background-color: #2E2E2E;
  height: 25px;
  width: 100%;
  text-align: center;
}

/* line 18, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body nav datalist,
html nav datalist {
  display: none;
}

/* line 22, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body nav .nav,
html nav .nav {
  position: relative;
  top: 50%;
  transform: translateY(calc(50% - 21px));
}

/* line 29, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main,
html main {
  top: 20%;
  padding-top: 10%;
  padding-bottom: 40%;
}

/* line 33, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main .intro,
html main .intro {
  text-align: center;
}

/* line 35, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main .intro h2,
html main .intro h2 {
  font-size: 20px;
  text-decoration: overline;
}

/* line 40, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main .content,
html main .content {
  background-color: #7F7F7F;
  padding: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
}

/* line 47, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main .artist-lite,
html main .artist-lite {
  background-color: #7F7F7F;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 5px solid black;
  text-align: center;
}

/* line 55, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main ul,
html main ul {
  border-radius: 10px;
}

/* line 59, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main img,
html main img {
  width: 100%;
  height: 100%;
}

/* line 64, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main .back_full,
html main .back_full {
  text-align: center;
}

/* line 69, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main .art_article span,
html main .art_article span {
  font-weight: bold;
  text-decoration: underline;
  font-size: 20px;
}

/* line 75, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main .art_article a,
html main .art_article a {
  font-weight: bold;
}

/* line 79, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main .art_article .block,
html main .art_article .block {
  border: 1px dotted black;
}

/* line 84, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main .artist,
html main .artist {
  text-align: center;
}

/* line 87, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main .artist .art-title,
html main .artist .art-title {
  border-bottom: dotted 2px #2E2E2E;
}

/* line 91, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main .artist .author-title,
html main .artist .author-title {
  font-size: 20px;
  margin-top: 30px !important;
  border-bottom: solid 2px #2E2E2E;
}

/* line 97, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main .artist .art-container,
html main .artist .art-container {
  border: 2px solid black;
  background-color: #FFFFFF;
}

/* line 101, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body main .artist .art-container .art-contained,
html main .artist .art-container .art-contained {
  border: 2px solid black;
}

/* line 108, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body footer,
html footer {
  background-color: #2E2E2E;
  height: 10%;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  bottom: 0;
}

/* line 119, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body footer .left-side,
html footer .left-side {
  height: 15%;
  background-color: #7F7F7F;
  border-radius: 10px;
  line-height: 150%;
}

/* line 126, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body footer .right-side,
html footer .right-side {
  display: none;
}

/* line 131, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
body .wrapper,
html .wrapper {
  margin: 0 10%;
}

@media (max-width: 768px) {
  /* line 141, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
  main {
    padding-bottom: 10%;
  }
  /* line 145, C:/Users/steph/Documents/GitHub/Collector/main/scss/main.scss */
  footer {
    padding-top: 1%;
    padding-bottom: 1%;
    height: 5%;
  }
}

/*# sourceMappingURL=../css/main.map */