$dark: #3E3E40;
$mid: #7D7B7F;
$light: #F9F6FF;

nav{
	background-color: $mid;
	height: 20%;
	width: 100%;
	input{
		text-align: center;
	}
	button{
		text-align: center;
	}

}
main{
	background-color: $light;
	height: 80%;
	padding: 20px;
}
footer{
	background-color: $dark;
	height: 20%;
}
