$dark: #2E2E2E;
$mid: #7F7F7F;
$light: #FFFFFF;

html, body{
	height: 100%;
	nav {
		background-color: $dark;
		height: 20%;
		width: 100%;
		text-align: center;
	}
	main {
		.wrapper{
			background-color: $mid;
		}
	}
	footer {
		background-color: $dark;
		padding: 5%;
		.left-side{
			background-color: $light;
			border-radius: 5%;
		}
		.right-side {
			display: none;
		}
	}

	.wrapper{
		margin: 0 10% 0 10%
	}
}
